<ion-slides pager="true" [options]="slideOpts">
  <ion-slide *ngFor="let img of product.images"> </ion-slide>
</ion-slides>

<ion-card>
  <ion-card-header color="tertiary">
    <ion-card-title>{{ product.name }}</ion-card-title>
    <ion-card-subtitle>{{ product | priceForUnit }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide
        *ngFor="let img of product.images"
        class="image-slide"
        [style]="img.url | domSanitizer"
      >
      </ion-slide>
    </ion-slides>
    {{ product.description }}
  </ion-card-content>

  <div class="counter_container">
    <ion-button color="danger" (click)="decrease()">
      <ion-icon slot="icon-only" name="remove"></ion-icon>
    </ion-button>
    <div class="counter">
      <p>Cantidad</p>
      <p>{{ product.cant }}</p>
    </div>
    <ion-button (click)="increase()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </div>

  <div class="element_container">
    <ion-button color="danger" (click)="removeFromCart()">
      <ion-icon slot="start" name="trash"></ion-icon>
      <ion-label>Quitar del carrito</ion-label>
    </ion-button>
  </div>
</ion-card>
