<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/tabs/settings/products/list"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Producto numero 01</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoadedData">
    <app-product-images [images]="product.images"></app-product-images>

    <app-product-new-images></app-product-new-images>

    <app-product-form [product]="product" [units]="units"></app-product-form>
  </div>
</ion-content>
