<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/orders/list"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="order">Orden numero {{ order.id }}</ion-title>

    <ion-buttons slot="end" *ngIf="order && isAdmin">
      <ion-label *ngIf="delivered">Entregado</ion-label>
      <ion-label *ngIf="!delivered">Pendiente</ion-label>
      <ion-spinner name="bubbles" *ngIf="isLoading"></ion-spinner>
      <ion-toggle
        [disabled]="isLoading"
        [checked]="delivered"
        (ionChange)="changeDelivered($event)"
      ></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="order">
    <app-map [lockLocation]="order.location"></app-map>
    <div class="description">
      <p><strong>Descripcion: </strong> {{ order.address }}</p>
    </div>

    <app-detail
      [product]="detail.product"
      [cant]="detail.cant"
      *ngFor="let detail of order.details"
    ></app-detail>

    <div class="total">
      <h1>Total</h1>
      <h2>{{ order.total | currency: "Bs. " }}</h2>
    </div>

    <app-messages
      [messages]="order.messages"
      [orderId]="order.id"
      [delivered]="delivered"
    ></app-messages>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="sendNotification()">
        <ion-icon slot="start" name="notifications-circle-outline"></ion-icon>
        Enviar notificacion
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
