.cost_conatainer {
  display: flex;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.3);
  p {
    margin: 0;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: gray;
  }

  ion-badge {
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 0.5rem;
  }
}
