<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button
        routerLink="/tabs/orders/send"
        color="tertiary"
        fill="solid"
        shape="round"
      >
        Ordenar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cost_conatainer">
    <p>Costo Total:</p>
    <ion-badge color="tertiary" mode="md">{{cost | localMoney}}</ion-badge>
  </div>
  <app-product-cart
    [product]="product"
    *ngFor="let product of products"
  ></app-product-cart>
</ion-content>
