<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
    <ion-buttons slot="end" color="primary">
      <div class="cost_conatainer">
        <p>Costo Total:</p>
        <ion-badge slot="start" color="primary"
          >{{cost | localMoney}}</ion-badge
        >
      </div>
      <ion-button
        routerLink="/orders/send"
        color="tertiary"
        fill="solid"
        shape="round"
      >
        Ordenar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-product-cart
    [product]="product"
    *ngFor="let product of products"
  ></app-product-cart>
</ion-content>
