<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let order of orders" (click)="goToOrder(order.id)" detail>
      <ion-avatar slot="start">
        <span>{{ order.id }}</span>
      </ion-avatar>
      <ion-label>
        <h2>{{ order.address }}</h2>
        <h3>{{ order.created_at | date }}</h3>
        <ion-badge [color]="colorStatus(order.status)" mode="md">{{
          order.status
        }}</ion-badge>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
