<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      routerLink="/tabs/settings/products/product/{{ product.id }}"
      detail
      *ngFor="let product of products"
    >
      <ion-avatar>
        <img [src]="product?.images[0]?.url" />
      </ion-avatar>
      <ion-label
        ><h2>{{ product.name }}</h2>
        <h3>{{ product.price | currency: "Bs " }}</h3>
        <p>{{ product.description }}.</p></ion-label
      >
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/settings/products/new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
