<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tiendita </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/cart" [disabled]="cantInCart < 1">
        <ion-icon slot="start" name="cart-outline"></ion-icon>
        <ion-badge color="primary">{{cantInCart}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <app-product
      [product]="product"
      *ngFor="let product of products"
    ></app-product>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
