<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        *ngIf="isAuthenticate"
        (click)="logout()"
        color="warning"
        fill="solid"
        shape="round"
      >
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
      <ion-button
        *ngIf="!isAuthenticate"
        routerLink="/auth"
        color="tertiary"
        fill="solid"
        shape="round"
      >
        <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Tiendita </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/orders">
        <ion-icon slot="start" name="list-circle-outline"></ion-icon>
        Pedidos
      </ion-button>
      <ion-button routerLink="/cart">
        <ion-icon slot="start" name="cart-outline"></ion-icon>
        <ion-badge color="primary">{{cantInCart}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <app-product-home
      [product]="product"
      *ngFor="let product of products"
    ></app-product-home>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isAdmin">
    <ion-fab-button routerLink="/products">
      <ion-icon name="build-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
